<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fausgoal.repository"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".modules.GLApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="asset_statements" android:resource="@string/asset_statements"/>

        <activity
            android:name=".modules.launch.GLLaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/GLLaunchStyle"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="ohjh9h7st.qnssl.com" android:scheme="fausgoal"/>
            </intent-filter>

            <!-- APP Links 方式，Android 23(6.0)版本及以后支持-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="ohjh9h7st.qnssl.com" android:scheme="http"/>
                <data android:host="ohjh9h7st.qnssl.com" android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.launch.GLGuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GLTheme.Translucent"
            android:windowSoftInputMode="stateHidden|stateUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.view"/>

                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.main.GLMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.goods.GLGoodsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GLTranslucent"
            android:windowSoftInputMode="stateHidden|stateUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.view"/>

                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>
    </application>

</manifest>